*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

input {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 36px 0 32px;
}
.search {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 10px;
  background-color: transparent;
  transition: border-color 300ms ease-out;
}

.search:focus {
  border: 1px solid #000;
}

.load-btn {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  width: 186px;
  margin: 20px auto;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.load-btn:hover {
  background-color: #6c8cff;
}

.form-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
  justify-content: center;
}

.img-item {
  width: 360px;
  height: 200px;
}

.list-item {
  border: 1px solid black;
}

.list-container {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px 4px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item-text {
  font-weight: 600;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 64px;
  height: 48px;
  position: relative;
  animation: split 1s ease-in infinite alternate;
}
.loader::before,
.loader::after {
  content: '';
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translateX(-10px);
  background: #ff3d00;
  opacity: 0.75;
  backdrop-filter: blur(20px);
}

.loader::after {
  left: auto;
  right: 0;
  background: #fff;
  transform: translateX(10px);
}

@keyframes split {
  0%,
  25% {
    width: 64px;
  }
  100% {
    width: 148px;
  }
}

.hidden {
  display: none;
}
